.egg img {
  cursor: pointer;
}

.egg img:hover {
  cursor: pointer;
  animation: shake 2s infinite;
}

.egg-title {
  font-size: 30px;
  font-weight: 600;
  margin: 10px;
}

.egg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg);
    transform: translate3d(0, 0, 0) rotateZ(5deg);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0) rotateZ(-5deg);
    transform: translate3d(-10px, 0, 0) rotateZ(-5deg);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0) rotateZ(5deg);
    transform: translate3d(10px, 0, 0) rotateZ(5deg);
  }
}
