#battle-cryptures {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.search {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
}

.search-input {
  color: #111111;
  width: 100%;
  height: 60px;
  background: #f3f3f3;
  outline: none;
  border-radius: 10px;
  padding: 10px;
}

.search img {
  position: absolute;
  right: 0;
  margin: 10px;
}

.battle-cryptures-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battle-cryptures-options-card {
  background: linear-gradient(180deg, #54af79 0%, #68cbba 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 120px;
  height: 140px;
}

.battle-cryptures-options-card img {
  width: 100px;
  height: 100px;
}

.battle-display {
  width: 990px;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  margin: 20px;
  height: 500px;
}

.battle-display-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.battle-display-side .title,
.battle-display-side .level {
  font-weight: 500;
  font-size: 60px;
  text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.battle-display-side .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.left-crypture {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.battle-display-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.battle-display-center img {
  margin-bottom: 20px;
  width: 150px;
}

.battle-display-center button {
  background-color: #d63a15;
  width: 182px;
  height: 57px;
  font-size: 22px;
  font-weight: 600;
  box-shadow: 0px 0px 72px rgb(0 0 0 / 70%);
}

.helper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.helper h2 {
  color: #111111;
  text-align: center;
}
